@page "{searchString?}"
@model Shield_Tech.Pages.StoreModel
@{
}

<h2 class="store-heading text-center fs-6 m-5">
    Welcome to our marketplace where you can find a variety of products and services we offer.
</h2>

<form>
    <div class="form-group row justify-content-center align-items-center">
        <div class="col-auto">
            <select asp-for="ProductCategory" asp-items="Model.Categories" class="form-select">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="SearchString" class="form-control" placeholder="Title">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<div class="row row-cols-1 row-cols-md-3 g-4 p-4">
    @foreach (var product in Model.Product)
    {
        <div class="col">
            <div class="card h-100">
                <img src="/images/value.jpg" class="card-img-top" alt="@product.Productname">
                <div class="card-body">
                    <h5 class="card-title fs-5 fw-bold">@product.Productname</h5>
                    <p class="card-text">Price: <span class="text-primary">£@product.Price</span></p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-page="./Admin/Details" asp-route-id="@product.Id" class="btn btn-outline-secondary">Details</a>
                        <button type="button" class="btn btn-primary buy-now" data-product-id="@product.Id" data-product-name="@product.Productname" data-product-price="@product.Price">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


