@page "{searchString?}"
@model Shield_Tech.Pages.StoreModel
@{
}

<h2 class="store-heading text-center fs-6 m-5">
    Welcome to our marketplace where you can find a variety of products and services we offer.
</h2>


<form>
    <p>
        <select asp-for="ProductCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>






<div class="row p-5 d-flex justify-content-between align-items-center gap-1">

    @foreach (var product in Model.Product)
    {

        <div class="card col-3" style="width: 18rem; padding:0;">
            <img src="/images/value.jpg" class="card-img-top" alt="@product.Productname" style="width:100%">
            <div class="card-body">
                <h5 class="card-title fs-6">@product.Productname</h5>
                <p class="card-text">@product.Price</p>

                <div class="d-flex justify-content-between align-items-center">
                    <a asp-page="./Admin/Details" asp-route-id="@product.Id">Details</a>
                    <a asp-page="#" asp-route-id="@product.Id">Buy Now</a>
                </div>


            </div>
        </div>
    }
</div>
